$cl-footer: hsl(243, 87%, 12%);
$cl-bg-secondary: #585989;

$cl-btn: #3065f8;
$cl-link: hsl(170, 45%, 43%);

$cl-bg-primary: hsl(240, 75%, 98%);
$cl-txt-extra: hsl(0, 0%, 75%);

$font-raleway: Raleway;
$font-open-sans: "Open Sans";
